body{
    background-image: url(ht9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
}


#fold{
    width: 30%;
    display: block;
    float: right;
    
}

#fentabra{
    width: 60%;
    border-radius: 70%;
    display: block;
    float: right;
    
}
#foldgomb{
    width: 120%;
    margin-top: 60px;
    border-radius: 10% 0% 10% 0%;
    border: 5px solid black;

}