body{
    background-image: url(ht9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
}


#fold{
    width: 30%;
    display: block;
    float: right;
    
}

#fentabra{
    width: 80%;
}